*{
    cursor:none;
}
@font-face{
    font-family:"Ortica";
    src:url("./fonts/Ortica-Light.woff2") format("woff2");
}
body{
    font-family: Ortica;
    background-color:white;
    overflow-x: hidden;
}

.title{
    text-align: center;
    font-size: 3em;
    color: blue; 
}
/* h2:hover{
    text-align: center;
    opacity:0;
} */

p{
    max-width: 500px;
    /* border: blue;
    border-style: solid; */
    background-color: white;
    border-width: 1pt;
    font-size: 3em;

    height: auto;
    padding:6%;
    color: blue;
    z-index: 0;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;

    align-items: center;
    justify-content: space-around;
}

img{
    max-height: 400px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.frame-image{
    z-index: 0;
    margin-left: 5%;
    margin-right: 5%;
    

}
.frame-image.off{
    max-height: 1000px;
    width: auto;
    position:fixed;
    top: 0%;
    left: 0%;
}
.frame-description{
    display: none;
}
.frame-description.active{
   
   padding: 6%;
    display: flex; 
    z-index: -1;
   position: fixed;
    font-size: 5em;
    top: 10%;
    left:10%;
    
}

#cursor{
    position: fixed;
    left: 0%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    background-color: blue;
    border: 1pt solid blue;
    pointer-events: none;
    
    transition: width 0.5s, height 0.5s;
    opacity: .5;

}

/* #cursor.grow{
    width: 40px;
    height: 60px;
    border-radius: 0%;
    transition: width 0.5s, height 0.5s;
    pointer-events: none;
} */



