*{
    cursor:none;
}
@font-face{
    font-family:"Ortica";
    src:url("./fonts/Ortica-Light.woff2") format("woff2");
}
body{
    font-family: Ortica;
    background-color: #E2DCD3;
    overflow-x: hidden;
}

.title{
    text-align: center;
    font-size: 3em;
    
    color: blue; 
    
    
    

}
/* h2:hover{
    text-align: center;
    opacity:0;
} */

p{
    max-width: 300px;
    border: blue;
    border-style: solid;
    background-color: #E2DCD3;
    border-width: 1pt;
    font-size: 3em;

    height: auto;
    padding: 4%;
    color: blue;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;

    align-items: center;
    justify-content: space-around;
}

img{
    max-height: 500px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.frame-image{
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;

}
.frame-image.off{
    display: none;
}
.frame-description{
    display: none;
}
.frame-description.active{
   margin: 5%;
    display: flex;
    z-index: 2;
}

#cursor{
    position: fixed;
    left: 0%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    background-color: blue;
    border: 1pt solid blue;
    pointer-events: none;
    
    transition: width 0.5s, height 0.5s;
    opacity: .5;

}

#cursor.grow{
    width: 40px;
    height: 60px;
    border-radius: 0%;
    transition: width 0.5s, height 0.5s;
    pointer-events: none;
}



