*{
    cursor:none;
}
@font-face{
    font-family:"Apfel Grotezk Regular";
    src:url("ApfelGrotezk-Regular.woff2") format("woff2");
}
body{
    background-image: url(backgroundImgIntro.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}
p{
    font-family: Apfel Grotezk Regular;
    margin: auto;
    font-size: 5em;
    color: #f5ff00;
}
span{
    text-decoration: underline;
}
#cursor{
    position: fixed;
    left: 0%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color:transparent;
    /* background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 60%); */
    pointer-events: none;
    border-radius: 50%;
    border-width: 2pt;
    border-style: solid;
    border-color: yellow;
    transition: width 0.5s, height 0.5s;
    z-index: 3;
}

a{
    color: #f5ff00;
    z-index: 2;
}

a:hover{
    font-size: 5.5em;
}

