@font-face {
  font-family: "Messapia Bold";
  src: url("./fonts/Messapia-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Messapia";
  src: url("./fonts/Messapia-Regular.woff2") format("woff2");
}
body {
  font-family: "Messapia Bold", sans-serif;
  display:flex;
  
}
header{
padding-left:5%;
padding-right:0%;
padding-top:2%;

}
a{
 text-decoration: none; 
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #C6E486;
}

a:active {
  color: black;
}


h1 {
  text-align: left;
  color: black;
  font-size:3em;
}

h3 {
  text-align:left;
  padding:0px;
}



.next{
  text-align: right;
  padding-right:5%;
}

em{
  color:#C6E486;
}

p{
font-family: Messapia;
font-style: normal;
font-weight: normal;
color: black;
font-size: 36px;
line-height: 45px;
padding-top: 25%;
padding-right: 150px;
padding-bottom: 50px;
padding-left: 150px; 
  
}

@media only screen and (max-width: 900px) {
  p{
    font-size: 26px;
    line-height: 35px;
    padding-top: 25%;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;    
  }
  
  }


  @media only screen and (max-width: 580px) {
 
    
   
    #large{
      padding-left:2%;
      padding-right:2%;
      padding-top:1%;
      
      }
  h1 {
      text-align: center;
      color: white;
      font-size:1.7em;
  }
  body{
    display:inline-block;
    background-color: black;
  }
  
  
  h3 {
    text-align:center;
    padding:0px;
    color:white;
    line-height: 14px;
    font-size: 12px;
    text-decoration: underline;
    font-family: Messapia; 
  }
  .main{
    width:100%;
  }
  
  p{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px; 
    
  }
  p:hover{
    color:white;
  }
  
  
  }