@font-face {
    font-family: "Messapia";
    src: url("./fonts/Messapia-Regular.woff2") format("woff2");
  }
body{
    font-family: Messapia;
    margin: 2%;
    padding: 5%;
    
}
nav{
    position: sticky;
    top:0;
    text-align: left;

}
.home{
    width: 100%;
    height: 100%;
    padding: 2%;
}
#contents{
  height: 100%;
  width: 100%;
  padding: 2%;
}
.row{
    display: flex;
    padding: 2%;
}
image{
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;

}



